body {
	margin: 0;
}

* {
	outline: none;
}

.container {
	max-width: 1170px;
	width: 100%;
	margin: auto;
	font-family: 'Poppins', sans-serif;
	background-color: #f6f6f6;
	position: relative;
}

.page-header .container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	color: #009595;
	font-weight: 500;
	font-size: 30px;
	padding: 10px 30px;
}


/*search*/
.wrap-s {
	padding-right: 30px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

#searchTerm {
  width: 100%;
  border: 3px solid #009595;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

#searchTerm:focus{
  color: #009595;
}

#searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #009595;
  background: #009595;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

#searchButton svg {
	fill: white;
}

.wrap{
  width: 20%;
}

/*search*/

.nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background-color: #404040;
	margin: 0;
}

.nav li {
	list-style: none;
	margin: 0;
	padding: 10px 20px;
	text-align: center;
	color: white;
	font-size: 20px;
	border-bottom: 2px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

#cur-city {
	position: absolute;
	right: 40px;
	top: 0;
	padding: 10px 0;
	color: white;
	font-size: 20px;
}

.active-nav {
	border-bottom-color: #009595 !important;
	border-left-color: #4e4e4e  !important;
	border-right-color: #4e4e4e  !important;
}

.today-block, .five-days-block {
	margin: 0;
	background-color: #d7d7d7;
	padding: 40px 0;
}

.block {
	background-color: #f6f6f6;
	margin: 0 70px;
	padding: 30px;
}

.block:nth-child(2) {
	margin: 40px 70px;
}

.block-title {
	color: #009595;
	font-weight: 500;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	font-size: 25px;
}

.current {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 70px 0px;
}

.current .cur-weather {
	text-align: center;
}

.current .temp {
	font-size: 50px;
}

.current .sun {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sun .sun-name {
	margin-right: 15px;
}

.cur-weather-icon {
	background-color: #00959577;
	border-radius: 50%;
	padding: 5px;
}

.hourly-forecast > div > span,
.hourly-forecast > div > div {
	display: inline-block;
	width: 100px;
	text-align: center;
	margin-top: 5px;
}

.hourly-forecast > div {
	display: flex;
	justify-content: space-evenly;
}

.icons-forecast img {
	background-color: #00959577;
	border-radius: 50%;
	padding: 5px;
}

.weather5.block {
	background-color: transparent !important;
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
}
.weather5.block .weekday {
	background-color: #ececec;
	width: 15.8%;
	padding: 20px;
}

.weekWD {
	color: #009595;
	font-weight: 500;
	font-size: 20px;
}


.day1, .day2, .day3, .day4, .day5 {
	background-color: #f6f6f6;
	width: 100%;
	display: none;
	
}


.active-w {
	display: block !important;
	
}

.active-wb {
	background-color: #f6f6f6 !important;
}

.icons-forecastW {
	display: flex;
	flex-wrap: wrap;
}

.icons-forecastW img{
	background-color: #00959577;
	border-radius: 50%;
	padding: 5px;
}


.days5 > div > div {
	display: flex;
	justify-content: space-evenly;
	
} 

.days5 > div > div > span {
	display: inline-block;
	width: 60px;
	margin-top: 5px;
	text-align: center;
	
} 


